# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Cached data
data/audio/
data/transcripts/

# Logs
*.log